{
  "presets": ["@babel/preset-react"],
  "env": {
    "production": {
      "plugins": ["babel-plugin-transform-react-remove-prop-types"]
    },
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
